$item-color: #2196f3;
$grey-color: #a0b0b9;
$bl-color: #4a4a4a;
.ticket {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 502px;
  height: 184px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px $grey-color;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  &__price {
    color: $item-color;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
  }
}

.section {
  display: flex;
  justify-content: space-between;
  gap: 20%;

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__hight {
    color: $grey-color;
    line-height: 18px;
  }
  &__low {
    color: $bl-color;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
  }
}
