$item-color: #2196f3;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 502px;
  height: 50px;
  border-radius: 5px;
  margin-left: 350px;
  &__button {
    background-color: $item-color;
    border: none;
    width: 502px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
}
