@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import-normalize;
$item-color: #2196f3;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: #f3f7fa;
}

#root {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
  padding: 50px 103px;
}

.сentered {
  display: flex;
  justify-content: center;
  margin-left: 280px;
  color: #2196f3;
  text-transform: uppercase;
}
